language: node_js
node_js: stable
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_script:
  - npm install -g polymer-cli
  - polymer install --variants
  - >-
    npm run update-types && git diff --exit-code || (echo -e
    '\n\033[31mERROR:\033[0m Typings are stale. Please run "npm run
    update-types".' && false)
script:
  - xvfb-run polymer test
  - >-
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test -s 'default';
    fi
env:
  global:
    - secure: >-
        SdJLH4y+NPZVkMh+LUmv2xut5DyX/4zyTTTBX+AMQPrI9ON9nudUdx2ylvCYtI0/9+No+CL5ZSuXDWba7tdhTJFQ++m+zhDlH+YeDN1owpHFQD+zhzXJnrZf2enrNyg8fN2ZSS/0ySmO9S0vaULgkoKAI1We1f1u9UVLT40mjyC6zrX5Nv3WRmOICwE2+vUdS4yKGX2zyK9b5Yw5bdQqJuxR0sCM1aXxsUiQVWK5fI9YFbbkqKgvolUspz9P9vhlYFXKxsc+7rxy+cb8l08GuUFQ1Ql2qYxnAspRFYN7H9AS67CThtvv51xGYmpqjW8kCR8o0q0ho/otc5sHLbkwWRYN6UsdmQ+bJSPU/PP+Kdx/VCC2KACQ36r+BNldXD2TQyGgNPNSDGd1Eosp2h5vAdvQZ69zpHkX081oxZoJfvrayzLddnRZWd4ioSpQ8/v2HrSn+feY9x8QUzMNkAFeyPfkrPDfAHg1iatM7kb9/qzhZk9ObQObzLqvSQdcBJ0ZwFyeJF8EtJl1e4Sjv43XWsV66LnVazvkeYkMruInprW7sdFOFEBKU9x6ak7Cml851CFLDdtgiac4N53o5rR/1gKa0/TmZGZKUf4Yo4SthYUGrOv2drmBMVL9l9IKel3qyko3E6keajb9OIjZNkln+ZShAzs2+T45iMPNm3qb1oA=
    - secure: >-
        LPPkiA6fg0wybI+vqY7c93EPDKv4WjmWdIBoOT41TMdFyc3yAluQ3VsMLhJJEdANJyvGEkKvUb9pWsCXnmr1/S0LeE7pJSqen29RA0OkvGIWLGnl1t0+Xa+I/eRZLC08ZKjbg4gN5ObK1UQbGG/aJUnJliN84ky4bhUn5IfKycRG528kokuN9OGlU6ngP9WZMwL+xYenAVc+lBkkx+cCSdIoyXjtap/7Yi0jWFL020kmyOOmkNU5sRWKc4938accX32N+Mq4Hz7uxDfzLmNUUKd4pomyzPCUSdSCpURP35Fz5slWN/rwTdVKY/ELW7x3WBozizbf8CV5vm5rTJNE/rSQCGEXWcqPDgvGUHmjXZUzfyUgSAGmrrfkjodNdQ+D7yq0tQLHVU+2o6gnolGqfJw8dBG1uGlByjYSzw3RyjaE8k5zLbwLkgbnUcprRgx0+4OOKVTOIOEhR/HMv5V6f7gJrNPSWSvutm0zJE5k78eYqFBQbVqoMuteBlVpbBrwf6HtQ3kmqwpRHruSfaZSV68k0D4cjKvZAKxGBWKdbysuDL6GHaLbO7dANuwyW7VW8FhYsWoppfY70vYsmtT/YAxOu0XXMeyzQJPNOoYhV/JMFR+nV0+x1FTxfc8+BWdgMLkWt8LZUk6wMY1LG3W0t+Muc460QhiIT1WL5u6WkVw=
dist: trusty
sudo: required
